h1, h2, h3, h4, h5, h6 {
    @apply font-bold leading-tight mt-0 mb-6 text-copy-primary;
}

.page-title {
	@apply text-5xl;
}


.content {

	p {
		@apply mb-8;

		&:first-child {
			@apply border-b border-gray-200 text-2xl pb-10 mb-10 font-light leading-snug text-copy-secondary;

			@screen md {
                @apply text-3xl;
            }
		}
    }
}

blockquote {
	
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
  }
  blockquote p {
	display: inline;
  }